<a href="https://colab.research.google.com/github/AlderiAraujo/IFPE_Projeto_TEBD/blob/main/Projeto_TEBD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Carregando o conjunto de dados usando a biblioteca Pandas.

Importação da biblioteca Pandas e montagem do Google Drive.

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Importação e visualização do dataset.

In [2]:
df = pd.read_excel("/content/drive/MyDrive/IFPE_TADS/6ºP/TEBD/Projeto_TEBD_Arquivos/wdi-excel-zip-59-mb-/WDIEXCEL.xlsx", sheet_name=0)
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,81.844982,82.407647,82.827636,83.169227,83.587141,83.954293,84.230630,84.570425,NaN,NaN
3,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.189815,86.136134,86.782683,87.288244,88.389705,88.076774,88.517967,88.768654,NaN,NaN
4,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,73.530494,74.543489,75.770972,76.772916,78.839139,77.487377,78.564439,78.958780,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422136 entries, 0 to 422135
Data columns (total 63 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    422136 non-null  object
 1   Country Code    422136 non-null  object
 2   Indicator Name  422136 non-null  object
 3   Indicator Code  422136 non-null  object
 4   1960            38296 non-null   float64
 5   1961            42017 non-null   float64
 6   1962            44198 non-null   float64
 7   1963            44084 non-null   float64
 8   1964            44611 non-null   float64
 9   1965            47305 non-null   float64
 10  1966            46902 non-null   float64
 11  1967            48633 non-null   float64
 12  1968            48209 non-null   float64
 13  1969            50011 non-null   float64
 14  1970            92892 non-null   float64
 15  1971            99126 non-null   float64
 16  1972            101898 non-null  float64
 17  1973            101523 non-null  float64
 18  1974            102838 non-null  float64
 19  1975            106739 non-null  float64
 20  1976            108656 non-null  float64
 21  1977            111988 non-null  float64
 22  1978            111568 non-null  float64
 23  1979            112371 non-null  float64
 24  1980            117218 non-null  float64
 25  1981            119130 non-null  float64
 26  1982            120334 non-null  float64
 27  1983            120112 non-null  float64
 28  1984            120914 non-null  float64
 29  1985            122087 non-null  float64
 30  1986            122924 non-null  float64
 31  1987            124326 non-null  float64
 32  1988            124043 non-null  float64
 33  1989            125804 non-null  float64
 34  1990            150283 non-null  float64
 35  1991            155342 non-null  float64
 36  1992            159292 non-null  float64
 37  1993            160651 non-null  float64
 38  1994            162800 non-null  float64
 39  1995            170546 non-null  float64
 40  1996            170804 non-null  float64
 41  1997            171881 non-null  float64
 42  1998            173814 non-null  float64
 43  1999            179128 non-null  float64
 44  2000            203655 non-null  float64
 45  2001            193654 non-null  float64
 46  2002            198571 non-null  float64
 47  2003            199394 non-null  float64
 48  2004            204796 non-null  float64
 49  2005            218727 non-null  float64
 50  2006            216489 non-null  float64
 51  2007            220471 non-null  float64
 52  2008            219495 non-null  float64
 53  2009            220308 non-null  float64
 54  2010            235880 non-null  float64
 55  2011            226320 non-null  float64
 56  2012            227731 non-null  float64
 57  2013            222939 non-null  float64
 58  2014            227702 non-null  float64
 59  2015            221790 non-null  float64
 60  2016            212990 non-null  float64
 61  2017            186601 non-null  float64
 62  2018            30247 non-null   float64
dtypes: float64(59), object(4)
memory usage: 202.9+ MB

Transformação das colunas anuais em "Years" e "Value".

Pois foi visto que o dataset possui muitas colunas, sendo muitas delas registros anuais.

In [4]:
df = pd.melt(df,id_vars=["Country Name","Country Code","Indicator Name","Indicator Code"],var_name="Year",value_name="Value")
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,1960,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,1960,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,1960,NaN
3,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,1960,NaN
4,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,1960,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24906024 entries, 0 to 24906023
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   Country Name    object
 1   Country Code    object
 2   Indicator Name  object
 3   Indicator Code  object
 4   Year            object
 5   Value           float64
dtypes: float64(1), object(5)
memory usage: 1.1+ GB